[submodule "_vim/bundle/fugitive"]
	path = _vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "_vim/bundle/nerdtree"]
	path = _vim/bundle/nerdtree
	url = https://github.com/vim-scripts/The-NERD-tree.git
[submodule "_vim/bundle/acp"]
	path = _vim/bundle/acp
	url = https://github.com/vim-scripts/AutoComplPop.git
[submodule "_vim/bundle/solarized"]
	path = _vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "_vim/bundle/markdown"]
	path = _vim/bundle/markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "_vim/bundle/tlib"]
	path = _vim/bundle/tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "_vim/bundle/snippets"]
	path = _vim/bundle/snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "_vim/bundle/vim-ipython"]
	path = _vim/bundle/vim-ipython
	url = http://github.com/ivanov/vim-ipython.git
[submodule "_vim/bundle/vim-latex"]
	path = _vim/bundle/vim-latex
	url = http://git.code.sf.net/p/vim-latex/vim-latex
[submodule "_vim/bundle/vim-tmux-navigator"]
	path = _vim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "_vim/bundle/voom_vim"]
	path = _vim/bundle/voom_vim
	url = https://github.com/vim-scripts/VOoM
[submodule "_vim/bundle/syntastic"]
	path = _vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "_vim/bundle/vim-gitgutter"]
	path = _vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "_vim/bundle/nerdcommenter"]
	path = _vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
